#serv{
  #bg1{
    div{
      color: $colortexto;
      height: 250px;
      margin: 15px 0;
      background-color: $colorvivos;

      text-align: center;

      i{
        padding-top:15px;
        font-size:45px;
        text-align: center;
      }
      i:hover{
        color:$colorsdetails;
      }
    }

    p{
      padding:10%;
      opacity: 0.4;
    }
    h3:hover{
      transform: scale(1.1);
      transition-delay:200ms;
      transition-duration: 100ms;
    }
    @include padding;
  }


}